body {background-color: #b4bd57;}
h1   {color: #00331a;}
p    {color: #00331a;font-size: 30px;font-style: oblique;}

/* .konyaka img {
    width: 50%;
    float: left;
} */

.konyaka-1 {
    width: 800px;
}

.konyaka-2 {
    width: 800px;
}

@media only screen and (max-width: 800px) {
    .konyaka img {
        width: 100%;
    }
}